* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(315deg, rgb(2,0,36) 0%, rgb(50,75,80) 40%, rgb(0,212,255) 100%);
    min-height: 100vh;
}

header {
    background: rgb(2,0,27);
}

.container {
    width: 1300px;
    margin: 0 auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

label {
    color: cornsilk;
}

label,
select,
input {
    margin: 0 10px;
}

.records-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.record {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    background: rgb(2,0,27);
    text-align: center;
    border-radius: 8px;
    width: 25%;
}

.record.active {
    display: flex;
}

img {
    margin-bottom: 20px;
}

.title,
.author,
.genre,
.year {
    color: cornsilk;
}

.author,
.genre,
.year {
    font-style: italic;
    font-size: .7rem;
}